<a href="https://colab.research.google.com/github/vanessagiovani/machinelearning/blob/main/CaseStudy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vanessagiovani/machinelearning/main/listings.csv")
print(data)

            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]

In [20]:
minValue = data.min()
print("- Minimum -\n")
print("All data: \n", minValue)
print("Price: ", minValue["price"])


maxValue = data.max()
print("\n- Maximum -\n")
print("All data: \n", maxValue)
print("Price: ", maxValue["price"])

- Minimum -

All data:
 id                                                   49091
host_id                                              23666
host_name                         (Email hidden by Airbnb)
neighbourhood_group                         Central Region
neighbourhood                                   Ang Mo Kio
latitude                                           1.24387
longitude                                          103.647
room_type                                  Entire home/apt
price                                                    0
minimum_nights                                           1
number_of_reviews                                        0
reviews_per_month                                     0.01
calculated_host_listings_count                           1
availability_365                                         0
dtype: object
Price:  0

- Maximum -

All data:
 id                                   38112762
host_id                             288567551
host_name                                  ｼﾝ
neighbourhood_group               West Region
neighbourhood                          Yishun
latitude                              1.45459
longitude                             103.973
room_type                         Shared room
price                                   10000
minimum_nights                           1000
number_of_reviews                         323
reviews_per_month                          13
calculated_host_listings_count            274
availability_365                          365
dtype: object
Price:  10000

In [ ]:
!wget https://raw.githubusercontent.com/vanessagiovani/machinelearning/main/iris.csv

eliminate null value

In [25]:
import pandas as pd

dataListings = pd.read_csv("https://raw.githubusercontent.com/vanessagiovani/machinelearning/main/listings.csv")
print(dataListings.head())

print(dataListings.isna().values.any())
newDataListingsDrop = dataListings.dropna()
newDataListingsFill = dataListings.fillna(0)
print("Original Length:", len(dataListings))
print("Dropped Length:", len(newDataListingsDrop))
print("Replaced Length:", len(newDataListingsFill))

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]
True
Original Length: 7907
Dropped Length: 5148
Replaced Length: 7907

min and max value

In [28]:
for i in newDataListingsFill:
  if newDataListingsFill[i].dtypes != object :
    print("Max value of ", i, "in newDataListingsFill is ", newDataListingsFill[i].max())
    print("Min value of ", i, "in newDataListingsFill is ", newDataListingsFill[i].min())

for i in newDataListingsFill2:
  if newDataListingsFill2[i].dtypes != object :
    print("Max value of ", i, "in newDataListingsFill2 is ", newDataListingsFill2[i].max())
    print("Min value of ", i, "in newDataListingsFill2 is ", newDataListingsFill2[i].min())

for i in newDataListingsDrop:
  if newDataListingsDrop[i].dtypes != object :
    print("Max value of ", i, "in newDataListingsDrop is ", newDataListingsDrop[i].max())
    print("Min value of ", i, "in newDataListingsDrop is ", newDataListingsDrop[i].min())

Max value of  id in newDataListingsFill is  38112762
Min value of  id in newDataListingsFill is  49091
Max value of  host_id in newDataListingsFill is  288567551
Min value of  host_id in newDataListingsFill is  23666
Max value of  latitude in newDataListingsFill is  1.45459
Min value of  latitude in newDataListingsFill is  1.24387
Max value of  longitude in newDataListingsFill is  103.97341999999999
Min value of  longitude in newDataListingsFill is  103.64656
Max value of  price in newDataListingsFill is  10000
Min value of  price in newDataListingsFill is  0
Max value of  minimum_nights in newDataListingsFill is  1000
Min value of  minimum_nights in newDataListingsFill is  1
Max value of  number_of_reviews in newDataListingsFill is  323
Min value of  number_of_reviews in newDataListingsFill is  0
Max value of  reviews_per_month in newDataListingsFill is  13.0
Min value of  reviews_per_month in newDataListingsFill is  0.0
Max value of  calculated_host_listings_count in newDataListingsFill is  274
Min value of  calculated_host_listings_count in newDataListingsFill is  1
Max value of  availability_365 in newDataListingsFill is  365
Min value of  availability_365 in newDataListingsFill is  0
Max value of  id in newDataListingsFill2 is  38112762
Min value of  id in newDataListingsFill2 is  49091
Max value of  host_id in newDataListingsFill2 is  288567551
Min value of  host_id in newDataListingsFill2 is  23666
Max value of  latitude in newDataListingsFill2 is  1.45459
Min value of  latitude in newDataListingsFill2 is  1.24387
Max value of  longitude in newDataListingsFill2 is  103.97341999999999
Min value of  longitude in newDataListingsFill2 is  103.64656
Max value of  price in newDataListingsFill2 is  10000
Min value of  price in newDataListingsFill2 is  0
Max value of  minimum_nights in newDataListingsFill2 is  1000
Min value of  minimum_nights in newDataListingsFill2 is  1
Max value of  number_of_reviews in newDataListingsFill2 is  323
Min value of  number_of_reviews in newDataListingsFill2 is  0
Max value of  reviews_per_month in newDataListingsFill2 is  13.0
Min value of  reviews_per_month in newDataListingsFill2 is  0.01
Max value of  calculated_host_listings_count in newDataListingsFill2 is  274
Min value of  calculated_host_listings_count in newDataListingsFill2 is  1
Max value of  availability_365 in newDataListingsFill2 is  365
Min value of  availability_365 in newDataListingsFill2 is  0
Max value of  id in newDataListingsDrop is  37852422
Min value of  id in newDataListingsDrop is  49091
Max value of  host_id in newDataListingsDrop is  282332472
Min value of  host_id in newDataListingsDrop is  23666
Max value of  latitude in newDataListingsDrop is  1.45203
Min value of  latitude in newDataListingsDrop is  1.24391
Max value of  longitude in newDataListingsDrop is  103.97341999999999
Min value of  longitude in newDataListingsDrop is  103.64656
Max value of  price in newDataListingsDrop is  10000
Min value of  price in newDataListingsDrop is  0
Max value of  minimum_nights in newDataListingsDrop is  700
Min value of  minimum_nights in newDataListingsDrop is  1
Max value of  number_of_reviews in newDataListingsDrop is  323
Min value of  number_of_reviews in newDataListingsDrop is  1
Max value of  reviews_per_month in newDataListingsDrop is  13.0
Min value of  reviews_per_month in newDataListingsDrop is  0.01
Max value of  calculated_host_listings_count in newDataListingsDrop is  274
Min value of  calculated_host_listings_count in newDataListingsDrop is  1
Max value of  availability_365 in newDataListingsDrop is  365
Min value of  availability_365 in newDataListingsDrop is  0

replace null value to max value

In [30]:
for i in dataListings:
  print(i, dataListings[i].isna().values.any())

newDataListingsFill2 = dataListings
for i in dataListings:
  if dataListings[i].dtypes == object :
    newDataListingsFill2[i] = dataListings[i].fillna("Not Available")
  else :
    max = dataListings[i].max()
    newDataListingsFill2[i] = dataListings[i].fillna(max)

print(newDataListingsFill2)

id False
name False
host_id False
host_name False
neighbourhood_group False
neighbourhood False
latitude False
longitude False
room_type False
price False
minimum_nights False
number_of_reviews False
last_review False
reviews_per_month False
calculated_host_listings_count False
availability_365 False
            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]